apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: hacbs-test-project-tfbk
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/rhtap-demo-iryh-tenant/rhtap-demo-app/hacbs-test-project-tfbk@sha256:f221e0a684d6b31a36fe9f18f4e0d4e96a6325eed5dad2a2a9338717b96e0cd4
        name: hacbs-jvm-build-test-project
        resources: {}
status: {}
