apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: hacbs-test-project-tfbk
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: hacbs-test-project-tfbk
    app.kubernetes.io/part-of: rhtap-demo-app
  name: hacbs-test-project-tfbk
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: hacbs-jvm-build-test-project
      app.kubernetes.io/instance: hacbs-test-project-tfbk
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: hacbs-jvm-build-test-project
        app.kubernetes.io/instance: hacbs-test-project-tfbk
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/rhtap-demo-iryh-tenant/rhtap-demo-app/hacbs-test-project-tfbk@sha256:f221e0a684d6b31a36fe9f18f4e0d4e96a6325eed5dad2a2a9338717b96e0cd4
        name: hacbs-jvm-build-test-project
        ports:
        - containerPort: 8081
          name: http
          protocol: TCP
        resources:
          limits:
            cpu: 500m
            memory: 1Gi
status: {}
